/* 500px */
@media screen and (max-width: 500px) {
      .header {
        z-index: 2;
        position: absolute;
        background-color: black;
        width: 150px;
        left: 0;
        -webkit-transform: translate(-200px, 0);
        transform: translate(-200px, 0);
        transition: transform 0.4s ease;
    }

      .open {
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
      }

      custom-header > .header > a {
          display: list-item;
          border-bottom: 1px solid #E0E0E0;
          width: 100%;
          text-align: left;
      }

      custom-header > span {
        display: inline-block;
      }

      .movies {
        grid-template-columns: 1fr;

    }

    .movie {
        grid-template-columns: 1fr;
    }

    .movie .movie__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }

}

@media screen and (min-width: 550px) {
  .movies {
      grid-template-columns: repeat(2, 1fr);
  }
}



@media screen and (min-width: 900px) {
  .movies {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {

  .movies {
      grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  .movies {
      grid-template-columns: repeat(5, 1fr);
  }
}